<div flex layout="column"  class="content-column">

  <div flex layout="row" layout-md="column" layout-xs="column"  style="background-color: #f3f3f3;  margin:25px">

    <div flex layout="row" layout-align="center center">
      <img src="images/home-img-06@2x.png" class="tallas-img"/>
    </div>
    <div flex layout="column" layout-align="center center">
      <p>
        <b>Skinny</b> <br/>
        Estilo de pierna skinny de tela elástica para que tengas libertad de movimiento.
        <br/>
        Disponible en tallas de la 0-16
      </p>
    </div>

  </div>

  <div flex layout="row"  style="margin:25px">

      <div flex="25" layout="column" layout-align="start center" style="border-right:  solid 2px #2a2a2a; padding-right:10px;margin-right:10px;">
        <span style="margin:10px"> <b> Skinny </b> </span>
        <span style="margin:10px"> Slim Fit </span>
        <span style="margin:10px"> Curvy </span>
      </div>
      <div flex layout="column">
        <app-content-grid flex="100" style="grid.class" title="grid.type" data="grid.imgs" ng-repeat="grid in $ctrl.catalog.grids"></app-content-grid>
      </div>

  </div>
</div>
