<div flex layout="column"  class="content-column">

  <div flex layout="row" layout-md="column" layout-xs="column"  style="background-color: #f3f3f3;  margin:25px">

    <div flex layout="row" layout-align="center center">
      <img ng-src="{{$ctrl.selectedStyle.src}}" class="tallas-img"/>
    </div>
    <div flex layout="column" layout-align="center center">
      <p>

        <b>{{$ctrl.selectedStyle.name}}</b> <br/>
        {{$ctrl.selectedStyle.description}}
        <br/>

      </p>
    </div>

  </div>

  <div flex layout="row"  style="margin:25px">

      <div flex="25" layout="column" layout-align="start center" style="border-right:  solid 2px #2a2a2a; padding-right:10px;margin-right:10px;">
        <ul class="guides-list">
          <li ng-repeat="style in $ctrl.styles">
            <a href ng-class="{'selected-item': style.name == $ctrl.selectedStyle.name}" style="text-decoration:none; color:#666f77" ng-click="$ctrl.changeStyle(style)">{{style.name}}</a>
          </li>
        </ul>
      </div>
      <div flex layout="column">
        <app-content-grid flex="100" style="grid.class" title="grid.type" data="grid.imgs" ng-repeat="grid in $ctrl.catalog.grids"></app-content-grid>
      </div>

  </div>
</div>
