<md-dialog aria-label="Gallery Dialog" flex="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> Galería - {{$ctrl.code}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
          <md-icon md-font-icon="fa-close" class="fa fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
        <div flex layout="column" layout-align="center center">
          <div flex layout="row" layout-md="column" layout-xs="column">
            <div flex style="margin: 10px" ng-repeat="image in $ctrl.images">
              
              <a href ng-click="$ctrl.changeImage(image)"><img ng-src="{{ image.src }}" height="140"></a>
            </div>
          </div>
          <div><img ng-src="{{$ctrl.selectedImage.src}}"></div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="$ctrl.close()">
        Cerrar
      </md-button>
    </md-dialog-actions>
</md-dialog>
