<div flex layout="column" class="content-column" >
  <div flex layout="row" layout-md="column" layout-xs="column">

    <div flex layout="row" layout-align="start start">
      <div flex layout="column" >
        <md-tabs md-center-tabs="true" class="partners-tabs" md-dynamic-height="true" md-border-bottom md-selected="$ctrl.tabSelectedIndex">
            <md-tab>
              <md-tab-label>
                Mujeres
              </md-tab-label>
              <md-tab-body>

                <div flex layout="row">
                  <div flex layout="column" layout-align="center center" style="border-right: 2px solid">
                    <ul class="guides-list">
                      <li ng-repeat="style in $ctrl.woman.styles">
                        <a href ng-class="{'selected-item': style == $ctrl.womanStyle.label}" style="text-decoration:none; color:#666f77" ng-click="$ctrl.changeWomanStyle(style)"> {{style}} </a>
                      </li>
                    </ul>
                  </div>
                  <div layout="column" layout-align="center center" flex="15">
                    <ul class="guides-list">
                      <li ng-repeat="product in $ctrl.woman.products[$ctrl.womanStyle.value]">
                        <a href ng-class="{'selected-item': product.code == $ctrl.womanSelectedProduct}" style="text-decoration:none; color:#666f77" ng-click="$ctrl.changeWomanProduct(product)"> {{product.code}} </a>
                      </li>
                    </ul>
                  </div>
                  <div layout="column" layout-align="center center" flex="30">
                    <a href ng-click="$ctrl.showWomanGuide = true" ng-show="!$ctrl.showWomanGuide"><img class="guide-prod_img" ng-src="{{$ctrl.womanImage}}"/></a>
                    <a href ng-click="$ctrl.showWomanGuide = false" ng-show="$ctrl.showWomanGuide"><img class="guide-prod_img" src="images/size-guide.png"/></a>
                  </div>
                  <div flex="45" layout="column" layout-align="center center">
                    <table flex="100" ng-show="$ctrl.womanSizes.length > 0">
                      <thead>
                        <tr>
                          <th>Tallas</th>
                          <th>Cintura</th>
                          <th>Cadera</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="size in $ctrl.womanSizes">
                            <td>{{size.description}}</td>
                            <td>{{size.waist}}</td>
                            <td>{{size.hip}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab>
              <md-tab-label>
                Hombres
              </md-tab-label>
              <md-tab-body>
                <div flex layout="row">
                  <div flex layout="column" layout-align="center center" style="border-right: 2px solid">
                    <ul class="guides-list">
                      <li ng-repeat="style in $ctrl.man.styles">
                        <a href ng-class="{'selected-item': style == $ctrl.manStyle.label}" style="text-decoration:none; color:#666f77" ng-click="$ctrl.changeManStyle(style)"> {{style}}</a>
                      </li>
                    </ul>
                  </div>
                  <div layout="column" layout-align="center center" flex="15">
                    <ul class="guides-list">
                      <li ng-repeat="product in $ctrl.man.products[$ctrl.manStyle.value]">
                        <a href ng-class="{'selected-item': product.code == $ctrl.manSelectedProduct}" style="text-decoration:none; color:#666f77" ng-click="$ctrl.changeManProduct(product)"> {{product.code}} </a>
                      </li>
                    </ul>
                  </div>
                  <div layout="column" layout-align="center center" flex="30">
                    <a href ng-click="$ctrl.showManGuide = true" ng-show="!$ctrl.showManGuide"><img class="guide-prod_img" ng-src="{{$ctrl.manImage}}"/></a>
                    <a href ng-click="$ctrl.showManGuide = false" ng-show="$ctrl.showManGuide"><img class="guide-prod_img" src="images/size-guide.png"/></a>
                  </div>
                  <div flex="45" layout="column" layout-align="center center">
                    <table flex="100" ng-show="$ctrl.manSizes.length > 0">
                      <thead>
                        <tr>
                          <th>Tallas</th>
                          <th>Cintura</th>
                          <th>Cadera</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="size in $ctrl.manSizes">
                            <td>{{size.description}}</td>
                            <td>{{size.waist}}</td>
                            <td>{{size.hip}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </md-tab-body>
            </md-tab>
        </md-tabs>
      </div>

    </div>


  </div>
</div>
