<div flex layout="column" class="content-column" >
  <div flex layout="row" layout-md="column" layout-xs="column">

    <div flex layout="row" layout-align="start start" >
      <div flex="33" layout="column" layout-align="center center" style="border-right:  solid 2px #2a2a2a; padding-right:10px;margin-right:10px;">
        <span style="margin:10px">
          <a ng-class="{'selected-item':$ctrl.gender=='mujer'}" href ng-click="$ctrl.changeGender('mujer')" style="text-decoration:none; color:#666f77"> Mujer</a>
        </span>
        <span style="margin:10px">
          <a ng-class="{'selected-item':$ctrl.gender=='hombre'}" href ng-click="$ctrl.changeGender('hombre')" style="text-decoration:none; color:#666f77">  Hombre </a>
        </span>
      </div>
      <div flex="66">
        <img src="images/{{$ctrl.img}}" class="tallas-img"/>
      </div>
    </div>

    <div flex layout="row" layout-align="center center" style="padding:15px">
      <table flex="100">
        <thead>
          <tr>
            <th width="20%">Tallas disponibles</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="talla in $ctrl.tallas">
              <td>{{talla.type}}</td>
              <td>{{talla.small}}</td>
              <td>{{talla.medium}}</td>
              <td>{{talla.long}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
