<div flex layout="column" class="content-column" >
  <div flex layout="row" layout-md="column" layout-xs="column">

    <div flex layout="row" layout-align="start start" >
      <div flex="33" layout="column" layout-align="center center" style="border-right:  solid 2px #2a2a2a; padding-right:10px;margin-right:10px;">
        <span style="margin:10px"> <b> Mujer </b> </span>
        <span style="margin:10px"> Hombre </span>
      </div>
      <div flex="66">
        <img src="images/tallas-img-01.jpg" class="tallas-img"/>
      </div>
    </div>

    <div flex layout="row" layout-align="center center" style="padding:15px">
      <table flex="100">
        <thead>
          <tr>
            <th width="20%">Tallas disponibles</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>Cintura</td>
              <td>64</td>
              <td>74</td>
              <td>96</td>
          </tr>
          <tr>
              <td>Cadera</td>
              <td>86</td>
              <td>96.5</td>
              <td>118</td>
          </tr>
          <tr>
              <td>Largo</td>
              <td>1.5m -</td>
              <td>1.58-1.6 m</td>
              <td>1.76m +</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
