<div flex layout="column" layout-align="center center" class="content-column blue-background">
  <div>
    <h2><b>¡CONTÁCTANOS!</b></h2>
  </div>
  <p style="color: #000" class="centered">{{$ctrl.message}}</p>
<div layout="column" layout-align="center center">

    <form flex="66" action="#">
        <div flex layout="row" layout-md="column" layout-xs="column" layout-margin layout-fill>
             <div flex >
                <input name="name" id="name" value="" placeholder="Nombre" type="text">
              </div>
              <div flex >
                <input name="email" id="email" value="" placeholder="Apellidos" type="text">
              </div>
        </div>
        <div flex layout="row" layout-md="column" layout-xs="column" layout-margin layout-fill>
             <div flex>
                <input name="state" id="name" value="" placeholder="Telefono" type="text">
              </div>
              <div flex>
                <input name="email" id="email" value="" placeholder="Correo electronico" type="email">
              </div>
        </div>
        <div flex layout="column" layout-fill layout-margin>
             <textarea name="message" id="message" placeholder="Mensaje" rows="3"></textarea>
        </div>
        <div layout="row" layout-align="center center" layout-padding layout-margin>
          <ul class="actions">
            <li><input value="Enviar" class="button medium" type="submit"></li>
            </ul>
        </div>
      </form>
  </div>

</div>
