<div flex layout="column" class="{{$ctrl.data.class}}">
  <md-content layout-padding>
    <div ng-if="$ctrl.title != null" flex layout="column" layout-md="column" layout-xs="column">
      <h4 class="{{$ctrl.style}}">{{$ctrl.title}}</h4>
    </div>
    <md-grid-list
        md-cols="3"
        md-cols-xs="1"
        md-gutter="10px"
        md-row-height="2:4"
        md-row-height-xs="3:6">

      <md-grid-tile
          ng-repeat="tile in $ctrl.data"
          ng-style="{ 'background': tile.backgroundColor }">
          <md-card>
            <md-card-content>
              <div class="">
                <a href ng-click="$ctrl.openGalleryDialog(tile.code)" >
                  <img ng-src="{{tile.img}}" class="product-img"/>
                </a>
              </div>
              <div><span class="product-attr">Modelo:</span> <span class="product-code">{{tile.code}}</span></div>
              <div><span class="product-attr">Color:</span> <span class="product-color">{{tile.color}}</span></div>
              <div><span class="product-attr">Precio:</span> <span class="product-price">${{tile.price}}</span></div>
              <div><span class="product-attr">Tallas disponibles:</span>  <span class="product-sizes"> {{tile.sizes}}</span></div>
              <div><a href ng-click="$ctrl.openGuideDialog(tile.code, tile.img)"> Guia de tallas </a></div>
            </md-card-content>
          </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
