<div flex layout="column" class="{{$ctrl.data.class}}">
  <md-content layout-padding>
    <div ng-if="$ctrl.title != null" flex layout="column" layout-md="column" layout-xs="column">
      <h4 class="{{$ctrl.style}}">{{$ctrl.title}}</h4>
    </div>
    <md-grid-list
        md-cols="3"
        md-cols-xs="1"
        md-gutter="10px"
        md-row-height="2:4"
        md-row-height-xs="3:2">

      <md-grid-tile
          ng-repeat="tile in $ctrl.data"
          ng-style="{ 'background': tile.backgroundColor }">

        <!--<div style="position: absolute;bottom:0"></div>-->
          <md-card>
            <md-card-content>

              <a href ng-click="$ctrl.openGalleryDialog(tile.code)">
                <img ng-src="{{tile.img}}">
              </a>
              <div> Modelo: {{tile.code}}</div>
              <div> Color: {{tile.color}}</div>
              <div> Precio: ${{tile.price}}</div>
              <div> Tallas disponibles: {{tile.sizes}}</div>
              <div> <a href ng-click="$ctrl.openGuideDialog(tile.code)">Guia de tallas </a></div>

            </md-card-content>
          </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
