<div flex layout="column" layout-md="column" layout-xs="column">
  <ui-carousel ng-if="$ctrl.showCarousel"
    slides="$ctrl.images"
    arrows=false
    slides-to-show="1"
    slides-to-scroll="1"
    initial-slide="0"
    autoplay="true"
    autoplay-speed="3000"
    dots="true">

    <carousel-item layout="column">
      <div flex class="image-banner-div">
        <div class="image-banner-text">{{item.description}}</div>
        <img ng-src="{{ item.src }}" width="100%" height="100%">
      </div>
    </carousel-item>
  </ui-carousel>
</div>
